{% extends 'APP/basic.html' %}

{% block title %} Add Expense {% endblock %}

{% block body %}


<div class="container mt-3" xmlns="http://www.w3.org/1999/html">

     <h4> Add Expense </h4><br>
    <form action="/addexpense/" method="post" >
        {% csrf_token %}
        <label for="Category">Category:</label>
         <select name="Category" id="Category">
             <option value="Select">Select</option>
             <option value="Essential">Essential</option>
             <option value="Non-Essential">Non-Essential</option>
         </select>
        <br><br>
         <label for="Items"> Items:</label>
         <select name="Items" id="Items">
                <option value="Select">Select</option>
                <option value="Essential"> Food </option>
                <option value="Non-Essential"> Movie </option>
                <option value="Essential"> Health </option>
                <option value="Non-Essential"> Education </option>
                <option value="Essential"> Rent </option>
                <option value="Essential"> Transportation </option>
                <option value="Non-Essential"> Grocery </option>
                <option value="Non-Essential"> Cosmatics </option>
                <option value="Non-Essential"> Electronics </option>
                <option value="Non-Essential"> Maintanence </option>
                <option value="Non-Essential"> Party </option>
                <option value="Non-Essential"> Gift </option>
                <option value="Non-Essential"> Celebration </option>
                <option value="Essential"> Garments </option>
                <option value="Non-Essential"> Jwellary </option>
                <option value="Non-Essential"> E-Commerce </option>
                <option value="Non-Essential"> Accesories </option>

         </select>
        <br><br>
         <label for="Date">Date:</label>
         <input type="Date" id="Date" name="Date"><br><br>
         <label for="Amount">Amount:</label>
         <input type="number" id="Amount" name="Amount"><br><br>
         <input type="submit" value="Add" class="btn btn-primary">
      </form>
</div>
{% endblock %}
